<div class="page-container">
    
    <!-- Contenu principal -->
    <div class="container">
      <div class="form-container">
          
        <h2 class="title">Inscription</h2>
        <p class="subtitle">Option1: Donner les informations</p>
    
        <form [formGroup]="departementForm" (ngSubmit)="onSubmit()">
          <!-- Deuxième ligne : Téléphone, Email, Département -->
          <div class="row">
           
            <!----- Departement-->
            <div class="input-group" *ngIf="name == 'departement'">
              <label for="description">Nom du Département:</label>
              <input id="description" type="text" placeholder="Entrer une description" formControlName="nom" />
              <div *ngIf="departementForm.get('nom')?.invalid && departementForm.get('nom')?.touched" style="color: rgb(253, 7, 7);">
                Le nom est requis.
              </div>
            </div>

            <!----- Cohortes-->
            <div class="input-group" *ngIf="name == 'cohorte'">
              <label for="description">Nom de la Cohorte:</label>
              <input id="description" type="text" placeholder="Entrer une description" formControlName="nom" />
              <div *ngIf="departementForm.get('nom')?.invalid && departementForm.get('nom')?.touched" style="color: rgb(253, 7, 7);">
                Le nom est requis.
              </div>
            </div>
            <div class="input-group">
              <label for="departement">Description</label>
              <input id="departement" type="text" placeholder="Entrer le  nom du du departement" formControlName="description"/>
              <div *ngIf="departementForm.get('description')?.invalid && departementForm.get('description')?.touched" style="color: rgb(253, 7, 7);">
                La description est requis.
              </div>
            </div>
          </div>
    
          <!-- Boutons -->
          <div class="buttons">
            <button type="submit" class="btn inscrire">Inscrire</button>
            <button type="button" class="btn retour" (click)="retourVersListeDepart()">Retour</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  