/* Layout principal */
.layout {
  display: flex;
  font-family: Arial, sans-serif;
  height: 100vh;
}

.assign-card-container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
  }
  
  h2 {
    color: #d32f2f;
    margin-bottom: 20px;
  }
  
  .form-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .form-group {
    flex: 1;
    margin: 0 10px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #333;
  }
  
  input[type="text"],
  input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .date-input {
    display: flex;
    align-items: center;
  }
  
  .calendar-icon {
    margin-left: 10px;
    font-size: 20px;
    color: #666;
  }
  
  .buttons-container {
    margin-top: 20px;
  }
  
  .validate-button {
    padding: 10px 20px;
    background-color: #d32f2f;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .return-button {
    padding: 10px 20px;
    background-color: #666;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  

  /* Pagination  Css*/
  .pagination-controls {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pagination-controls button {
    padding: 5px 10px;
    margin: 0 10px;
    cursor: pointer;
  }
  
  .pagination-controls button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .pagination-controls span {
    font-weight: bold;
  }
  