<div class="layout">
    <!-- Barre latérale -->
    <app-sidebar></app-sidebar>
  
    <!-- Contenu principal -->
    <div class="content">
      <!-- Barre supérieure -->
      <div class="top-bar">
        <input type="text" [(ngModel)]="searchQuery"  placeholder="Rechercher email..." />
        <div class="actions">
          <label for="file-upload" class="upload-btn">
            <i class="bi bi-upload"></i> Uploader un fichier CSV
          </label>
          <input
            type="file"
            id="file-upload"
            (change)="onFileUpload($event)"
            hidden
            accept=".csv, .txt" required
          />
          <button class="add-btn" (click)="addEmploye()">
            <i class="bi bi-plus-circle"></i>
              Ajouter Employé          
          </button>
        </div>
      </div>
  
      <!-- Tableau des apprenants -->
      <div class="table-container">
        <h2>Liste des employés</h2>
        <form (ngSubmit)="onDeleteSelected()">
          <table class="learners-table">
            <thead>
              <tr>
                <th>#</th>
                <th>Photo</th>
                <th>Matricule</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let learner of paginatedPointages">
                <td><input type="checkbox" [(ngModel)]="learner.selected" name="user-{{learner._id}}" (click)="updateSelection(learner)"></td>
                <td>
                  <img [src]="learner.photo" alt="Photo utilisateur" style="width: 50px; height: 50px; object-fit: cover;" />
                </td>
                <td>{{ learner.matricule }}</td>
                <td>{{ learner.prenom }}</td>
                <td>{{ learner.nom }}</td>
                <td>{{ learner.email }}</td>
                <td>
                  <a [routerLink]="['/modification',departementId , learner._id]" style="text-decoration: none; color: inherit;">
                      <i class="bi bi-pencil edit-icon"></i>
                    </a>
                  <i class="bi bi-trash delete-icon" (click)="deleteUser(learner._id)"></i>
                </td>
              </tr>
            </tbody>
          </table>
          <br>
          <br>
          <button type="submit" *ngIf="hasSelected()" style="background-color: white; color: rgb(139, 22, 22);" (click)="onDeleteSelected()">Supprimer Sélectionnés</button>
        </form>
      </div>
  
      <!-- Pagination -->
      <div class="pagination-controls">
        <button (click)="previousPage()" [disabled]="currentPage === 1">Précédent</button>
        <span>Page {{ currentPage }} sur {{ totalPages() }}</span>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages()">Suivant</button>
      </div>
    </div>
  </div>
  

