<div class="container mt-5">
  <div class="password-reset-container card p-4 text-center">
      <h2 class="mb-4">Mot de passe oublié ?</h2>
      <p>Veuillez saisir votre email de connexion afin de recevoir le lien de réinitialisation de votre mot de passe</p>

      <form (ngSubmit)="onSubmit()">
          <input
              type="email"
              class="form-control mb-3"
              [(ngModel)]="email"
              name="email"
              placeholder="Entrez votre email"
              required
          />
          <button type="submit" class="btn btn-primary w-100">Recevoir le lien</button>
      </form>

      <p ngIf="message" class="success-message mt-3">{{ message }}</p>
      <p *ngIf="errorMessage" class="error-message mt-3 text-danger">{{ errorMessage }}</p>

      <a href="http://localhost:4200/" class="mt-3 d-block">Retour à la page de connexion</a>
  </div>
</div>